@model LunarSFXc.ViewModels.PostViewModel
<!-- First Blog Post -->
<h2>
    <post for-post="Model"></post>
</h2>
<p class="lead">
    by <a href="#">@Model.PostedBy?.UserName</a>
</p>
<p>
    <span class="fa fa-clock-o"></span>
    Posted on @Model.PostedOn.ToString("d")

    @if (@Model.Comments.Any())
    {
        @if (@Model.Comments.Count > 1)
        {
            <span class="pull-right">@Model.Comments.Count comments</span>
        }
        else
        {
            <span class="pull-right">@Model.Comments.Count comment</span>
        }
    }
</p>
<hr>
@if (!Model.Images.Any())
{
    <img class="img-responsive" src="http://placehold.it/900x300" alt="" />
}
else
{
    <img class="img-responsive" src="@Model.Images.FirstOrDefault()?.ImageUri" alt="@Model.Images.FirstOrDefault()?.FileName" />
}
<hr>
<p>@Model.ShortDescription</p>
<post for-post="Model" post-title="continue..."></post>
<hr>