<!-- Sections -->
<!-- About Me/Timeline Section -->
<section id="about">
    <div class="container">
        @Component.InvokeAsync("AboutMe").Result
    </div>
</section>
<!-- Photos Gallery -->
<section id="photos">
    <div class="container">
        @Component.InvokeAsync("PhotoGallery", new { containerName = "imagesupload" }).Result
    </div>
</section>
<!-- My Work Section -->
<section id="portfolio">
    <div class="container">
        @Component.InvokeAsync("Portfolio").Result
    </div>
</section>
<!-- Blog Widget Section-->
<section id="blog" class="bg-lighter">
    <div class="container-fluid text-center">
        @Component.InvokeAsync("Widget", new { sidebar = false }).Result
    </div>
</section>
<!-- Contact Us Section -->
<section id="contact">
    <div class="container">
        @Component.InvokeAsync("Contact").Result
    </div>
</section>


@section Scripts{
    <script>
        $("#photos").ready(function () {
            loadGallery(true, 'a.thumbnail');

            //This function disables buttons when needed
            function disableButtons(counter_max, counter_current) {
                $('#show-previous-image, #show-next-image').show();
                if (counter_max == counter_current) {
                    $('#show-next-image').hide();
                } else if (counter_current == 1) {
                    $('#show-previous-image').hide();
                }
            }

            function loadGallery(setIDs, setClickAttr) {
                var current_image, selector, counter = 0;

                $('#show-next-image, #show-previous-image').click(function () {
                    if ($(this).attr('id') == 'show-previous-image') {
                        current_image--;
                    } else {
                        current_image++;
                    }

                    selector = $('[data-image-id="' + current_image + '"]');
                    updateGallery(selector);
                });

                function updateGallery(selector) {
                    var $sel = selector;
                    current_image = $sel.data('image-id');
                    $('#image-gallery-image').attr('src', $sel.data('image'));
                    disableButtons(counter, $sel.data('image-id'));
                }

                if (setIDs == true) {
                    $('[data-image-id]').each(function () {
                        counter++;
                        $(this).attr('data-image-id', counter);
                    });
                }
                $(setClickAttr).on('click', function () {
                    updateGallery($(this));
                })
            }
        });


        //Portfolio
        $('#portfolio').ready(function () {
            $('#portfolioModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = {
                    title: button.data('title'),
                    subTitle: button.data('project-subtitle'),
                    desc: button.data('project-desc'),
                    date: button.data('project-date'),
                    imageUri: button.data('project-image-uri'),
                    imageFileName: button.data('project-image-filename'),
                    category: button.data('project-category')
                }
               
                var modal = $(this)
                modal.find('.modal-body #projectTitle').text(recipient.title)
                modal.find('.modal-body #projectSubTitle').text(recipient.subTitle)
                modal.find('.modal-body #projectDesc').html(recipient.desc)
                modal.find('.modal-body img').attr('src', recipient.imageUri)
                modal.find('.modal-body img').attr('alt', recipient.imageFileName)
                modal.find('.modal-body #projectDate').text(recipient.date)
                modal.find('.modal-body #projectCategory').text(recipient.category)
            })
        });
    </script>
}
