@model IEnumerable<LunarSFXc.ViewModels.CommentViewModel>
@foreach (var comment in Model.OrderByDescending(x => x.CreatedDate))
{
    <!-- Comment -->
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                @comment.User.ToString()
                <small>@comment.CreatedDate.ToString("D") at @comment.CreatedDate.ToString("hh:mm tt")</small>
            </h4>
            <div>
                @comment.Content
                <div class="pull-right">
                    <button class="btn btn-sm btn-default ">Reply</button>
                    @if (User.Identity.IsAuthenticated && User.Identity.Name == @comment.User)
                    {
                        <button class="btn btn-sm btn-primary">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    }
                </div>
            </div>

            <hr />
            <!-- Nested Comments -->
            @if (comment.Replies != null && comment.Replies.Any())
            {
                @Html.Partial("_Comments", comment.Replies)
            }
        </div>
    </div>
}
